<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html;charset=UTF-8" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="erm#2.4.0-milestone.output.ImplementationGuide">
          <match url="^(ImplementationGuide)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crimplementationguide.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="erm#2.4.0-milestone.output.CodeSystem">
          <match url="^(CodeSystem)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcodesystem.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="erm#2.4.0-milestone.output.ValueSet">
          <match url="^(ValueSet)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crvalueset.asp?type={R:1}&amp;id={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>