<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html;charset=UTF-8" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="tt#1.0.0-milestone.output.StructureDefinition">
          <match url="^(StructureDefinition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crstructuredefinition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="tt#1.0.0-milestone.output.CarePlan">
          <match url="^(CarePlan)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcareplan.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="tt#1.0.0-milestone.output.ImplementationGuide">
          <match url="^(ImplementationGuide)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crimplementationguide.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="tt#1.0.0-milestone.output.Bundle">
          <match url="^(Bundle)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crbundle.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="tt#1.0.0-milestone.output.Patient">
          <match url="^(Patient)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpatient.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="tt#1.0.0-milestone.output.Encounter">
          <match url="^(Encounter)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crencounter.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="tt#1.0.0-milestone.output.ValueSet">
          <match url="^(ValueSet)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crvalueset.asp?type={R:1}&amp;id={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>